@import "../../scss/mixin.scss";
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00000080;
    position: fixed;
    z-index: 2;
  }
  .drawer {
    position: absolute;
    width: 385px;
    height: 100vh;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px #0000001a;
    z-index: 3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 30px;
      @include flex-container();
    }
    &__total {
      margin-bottom: 20px;
      li {
        @include flex-container();
        align-items: flex-end;
        margin-bottom: 20px;
      }
    }
    &__dot {
      border-bottom: 1px dashed #dfdfdf;
      flex: 1;
      margin: 0 7px;
    }
    &__btn {
      @include button();
      position: relative;
  
      &:hover{
        img{
        transform: translateX(5px);  
        }
      }
      img {
        position: absolute;
        right: 30px;
        top: 22px;
        transition: 0.2s;
      }
    }
  }
  .cart {
    flex: 1;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 2px;
      height: 0px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #858585;
      border-radius: 9em;
    }
    &__item {
      @include flex-container();
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      overflow: hidden;
      padding: 20px;
      margin-bottom: 20px;
      @include hover-card();
      p {
        margin-bottom: 5px;
        max-width: 176px;
        font-size: 14px;
      }
      b {
        font-size: 13px;
      }
    }
    &__img {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    &__remove {
      opacity: 0.5;
      transition: 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }